<header class="weather-header">
  <h1>Awesome Weather</h1>
</header>
<main>
  <section>
    <div class="weather-search-box">
      <mat-form-field [appearance]="'fill'">
        <input
          matInput
          type="text"
          name="city"
          id="city"
          [formControl]="cityControl"
          placeholder="city..."
        />
      </mat-form-field>

      <h5 *ngIf="isSearching">Searching for {{ city }}...</h5>

      <div *ngIf="cityCurrentWeather" class="current-weather">
        <span
          >Current Weather:
          {{ getCurrentWeatherTemp(cityCurrentWeather) }}</span
        >
        <img
          [src]="getCurrentWeatherIcon(cityCurrentWeather)"
          alt="current weather"
          width="50"
          height="50"
        />
      </div>
      <div class="daily-weather" *ngIf="parsedDailyWeather.length">
        <div class="daily-weather__header">
          <h3>Upcoming weather</h3>
        </div>
        <div class="daily-weather__weather">
          <div
            *ngFor="let city of parsedDailyWeather; let i = index"
            class="daily-weather-list"
          >
            <!-- <div>{{ city[i].dt_txt }} {{ getAverageWeatherTemp(city) }}</div> -->
            <div *ngFor="let l of city" class="daily-weather-list__day">
              <span class="daily-weather-list__day-date"> {{ l.dt_txt }} </span>
              <div class="daily-weather-list__day-info">
                <span>{{ getCurrentWeatherTemp(l) }}</span>
                <img
                  [src]="getCurrentWeatherIcon(l)"
                  alt="current weather"
                  width="50"
                  height="50"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
